<%- include('templates/header') %>

<%
	var res = model('emulator');
%>

<div class="container">

<%- include('templates/emulator/platform-tabs', {active:'windows'}) %>

</div>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img class="img-responsive" src="/emulator/windows/img/nesbox-windows-store.png">
			</div>

			<div class="col-md-9">
				<h1>Nesbox Emulator</h1>
				<p><b>for Windows 8.1 and Windows Phone 8.1</b></p>
				<p><%= res.windows.description %></p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<h3>Screenshots</h3>

	<p>
		<div class="row">
			<div class="col-md-4">
				<img class="img-responsive thumbnail" src="/emulator/windows/img/1.png">
			</div>
			<div class="col-md-4">
				<img class="img-responsive thumbnail" src="/emulator/windows/img/2.png">
			</div>
			<div class="col-md-4">
				<img class="img-responsive thumbnail" src="/emulator/windows/img/3.png">
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<img class="img-responsive thumbnail" src="/emulator/windows/img/4.png">
			</div>

			<div class="col-md-4">
				<img class="img-responsive thumbnail" src="/emulator/windows/img/5.png">
			</div>

			<div class="col-md-2">
				<img class="img-responsive thumbnail" src="/emulator/windows/img/6.png">
			</div>

			<div class="col-md-2">
				<img class="img-responsive thumbnail" src="/emulator/windows/img/7.png">
			</div>
			
		</div>
	</p>

	<hr>

	<h3>Features</h3>
	<ul>
		<li>File types: NES (.nes), Sega (.gen .smd), Super Nintendo (.smc), GameBoy (.gb .gbc .gba)</li>
		<li>Search games over Internet</li>
		<li>The Library of added games</li>
		<li>Keyboard support(allows to changed key bindings)</li>
		<li>Screen gamepad(touch)</li>
		<li>Xbox 360 Controller support</li>
		<li>Save/Load game state</li>
		<li>Setup screen gamepad buttons</li>
	</ul>

	<hr>

	<h3>Reviews</h3>
			<a style="width:100px; display:inline-block; text-decoration:none;" href="http://www.freeware.de/download/nesbox/?utm_source=badge&utm_medium=BA&utm_campaign=badge_manufacturer"><img src="http://www.freeware.de/bundles/frontend/img/badges/2fe42046f368.png"><p style="word-wrap: break-word; background-color:#48b400; line-height: 1.2; font-family: Arial, sans-serif; color: #fff; font-weight: bold; text-align: center; font-size: 11px; padding: 5px; margin: 0;">NESBox downloaden</p></a>

	<hr>

	<h3>Downloads</h3>
	<p>
		<a href="http://apps.microsoft.com/windows/app/58f54051-3213-43e9-ac0b-333064064ab6"><img src="https://cmsresources.windowsphone.com/devcenter/en-us/legacy_v1/img/badgegenerator/English_wstore_cyan_258x67.png" alt="Download from Windows Store" /></a>

		<a href="http://windowsphone.com/s?appid=2665d6c7-024b-4459-aa6a-4cdc5c069141"><img src="https://cmsresources.windowsphone.com/devcenter/en-us/legacy_v1/img/badgegenerator/English_wphone_black_258x67.png" alt="Download from Windows Store" /></a>		
	</p>

	<hr>

	<h3 id="release-notes">Release Notes</h3>
	<h4>v1.2</h4>
	<ul>
		<li>
			Added setup gamepad page where you can change position of the buttons
			<p><img width="100" src="/emulator/windows/img/gamepad_animation.gif"></p>
		</li>
		<li>Fixed some app crashes</li>
	</ul>
	<h4>v1.1</h4>
	<ul>
		<li>First release</li>
	</ul>

<%- include('templates/emulator/comments') %>

</div>

<%- include('templates/footer') %>