<%- include('templates/header') %>

<%- include('templates/nesbox-header') %>

<div class="container">

	<div class="row">

		<div class="col-md-8">
			<h2>Our products</h2>

			<div class="row">
				<div class="col-md-6">

					<div class="thumbnail">
						<a href="/emulator/windows"><img src="/emulator/windows/img/nesbox-windows-store.png" alt="..."></a>
						
						<div class="caption">
							<h3>Nesbox Emulator</h3>
							<p><b>for Windows 8.1 and Windows Phone 8.1</b></p>
							<p><%= model('emulator').windows.description %></p>
							<p><a href="/emulator/windows" class="btn btn-primary" role="button">Learn more...</a></p>
						</div>
					</div>

				</div>


				<div class="col-md-6">

					<div class="thumbnail">
						<a href="/pixelpuzzle"><img src="/pixelpuzzle/img/pixelpuzzle-windows-store.png" alt="..."></a>
						
						<div class="caption">
							<h3>Pixel Puzzle</h3>
							<p><b>for Windows 8.1 and Windows Phone 8.1</b></p>
							<p><%= model('pixelpuzzle').description %></p>
							<p><a href="/pixelpuzzle" class="btn btn-primary" role="button">Learn more...</a></p>
						</div>
					</div>

				</div>
				
			</div>

			<div class="row">
				<div class="col-md-6">

					<div class="thumbnail">
						<a href="/emulator/js"><img src="/emulator/js/img/js_logo.png" alt="..."></a>
						
						<div class="caption">
							<h3>Nesbox Emulator</h3>
							<p><b>built on JavaScript</b></p>
							<p><%= model('emulator').js.description %></p>
							<p><a href="/emulator/js" class="btn btn-primary" role="button">Learn more...</a></p>
						</div>
					</div>

				</div>


				<div class="col-md-6">

					<div class="thumbnail">
						<a href="/emulator/flash"><img src="/emulator/flash/img/flash_logo.png" alt="..."></a>
						
						<div class="caption">
							<h3>Nesbox Emulator</h3>
							<p><b>built on Adobe Flash</b></p>
							<p><%= model('emulator').flash.description %></p>
							<p><a href="/emulator/flash" class="btn btn-primary" role="button">Learn more...</a></p>
						</div>
					</div>

				</div>
				
			</div>

			<div class="row">
				<div class="col-md-6">

					<div class="thumbnail">
						<img src="/img/unknown-project.jpg" alt="...">
						
						<div class="caption">
							<h3>???</h3>
							<p><a href="#" class="btn btn-primary disabled" role="button">Learn more...</a></p>
						</div>
					</div>

				</div>	
				<div class="col-md-6">

					<div class="thumbnail">
						<img src="/img/unknown-project.jpg" alt="...">
						
						<div class="caption">
							<h3>???</h3>
							<p><a href="#" class="btn btn-primary disabled" role="button">Learn more...</a></p>
						</div>
					</div>

				</div>	

			</div>
		</div>

		<div class="col-md-4">
			<h2>News & Blog</h2>

			<div class="media">
				<div class="media-left">
					<a href="/emulator#release-notes">
						<img width="64" class="media-object" src="/emulator/js/img/js_logo.png" alt="...">
					</a>
				</div>

				<div class="media-body">
					<h4 class="media-heading"><a href="/emulator/js">Nesbox Emulator has build on JavaScript</a></h4>
					Added demo page
					<span class="text-muted pull-right">19.06.2015</span>
				</div>
			</div>

			<hr>

			<div class="media">
				<div class="media-left">
					<a href="/emulator#release-notes">
						<img width="64" class="media-object" src="/emulator/windows/img/nesbox-windows-store.png" alt="...">
					</a>
				</div>

				<div class="media-body">
					<h4 class="media-heading"><a href="/emulator/windows#release-notes">Nesbox Emulator v1.2 has been released</a></h4>
					Added screen gamepad setup page
					<span class="text-muted pull-right">02.06.2015</span>
				</div>
			</div>

			<hr>

		</div>


	</div>



</div>

<%- include('templates/footer') %>